@charset "uft-8";

:root {
  /* 이미지 카드 가로 길이 */
  --card-width: 210px;

  /* 반응형 이미지카드 사이 간격 */
  --dt-gap: 12px;
  --tb-gap: 48px;
  --mb-gap: 52px;

  /* categoryBg 컬러 */
  --categoryBg-Desktop: rgba(217, 217, 217, 0.3);

  /* commonHeader Selector, Input BorderLine 컬러 */
  --selector-border: #444;
  --selector-border-wh: #fff;
}

/********************* 반응형 *********************/
/* 데스크탑 */
@media (min-width: 1024px) {
  .listBox {
    height: 382px;
  }
  .logoBox {
    margin-top: 130px;
  }
  section.title > .titleBox {
    margin-bottom: 100px;
  }
  section.title > .titleBox > .tagBox > ul {
    height: 35px;
    column-gap: 10px;
  }
  .searchBox {
    margin-bottom: 35px;
  }
  .categoryBox > .listBox > .listTrack {
    gap: var(--dt-gap);
  }
  .categoryBg {
    width: 547px;
    height: 549px;
    background-color: var(--categoryBg-Desktop);
    border-radius: 274.5px 0 0 274.5px;
    top: 40%;
    right: -16%;
  }

  .detailBtnOuterBox {
    width: 74px;
    height: 83px;
    flex-shrink: 0;
  }
}
/* 테블릿 */
@media all and (min-width: 769px) and (max-width: 1023px) {
  .listBox {
    min-width: calc(var(--card-width) * 3 + var(--tb-gap) * 2);
    min-height: 400px;
    overflow: hidden;
  }
  .logoBox {
    margin-top: 130px;
  }
  section.title > .titleBox > .tagBox > ul {
    height: 100px;
    column-gap: 10px;
  }
  .categoryBox > .listBox > .listTrack {
    gap: var(--tb-gap);
  }
}
/* 모바일 393x776 */
@media (max-width: 768px) {
  .listBox {
    width: calc(var(--card-width) * 1 + var(--mb-gap) * 2);
    height: 470px;
    overflow: hidden;
  }
  .logoBox {
    margin-top: 22px;
  }
  .searchBox {
    margin-bottom: 30px;
  }

  section.title > .titleBox {
    margin-bottom: 48px;
  }

  section.title > .titleBox > .tagBox > ul {
    height: 80px;
    margin-bottom: 50px;
    column-gap: 4px;
  }
  .categoryBox > .listBox > .listTrack {
    gap: var(--mb-gap);
  }
}

/********** title **********/
section.title > .titleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

/* 로고 */
section.title > .titleBox > .logoBox {
  width: 260px;
  height: 90px;
  /* margin-top: 130px; */
}
/* 검색창 */
section.title > .titleBox > .searchBox {
  width: 100%;
  display: flex;
  justify-content: center;
}
section.title > .titleBox > .searchBox > .searchGroup {
  max-width: 740px;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--seachBox);
  border: 1px solid var(--borderColor);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.093), 0 4px 4px rgba(0, 0, 0, 0.097);
}

/********** search **********/
.searchBox > .searchGroup > .searchGroupInner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* 검색 인풋 */
.searchBox > .searchGroup > .searchGroupInner > input.searchInput {
  width: 95%;
  height: 40px;
  background-color: var(--seachBox);
  font-size: 16px;
  color: var(--font);
}
/* 검색 버튼 */
.searchBox > .searchGroup > .searchGroupInner > button {
  background-color: var(--seachBox);
  border: none;
  cursor: pointer;
}

/********** category Tag **********/
section.title > .titleBox > .tagBox {
  width: 100%;
  display: flex;
  justify-content: center;
}
section.title > .titleBox > .tagBox > ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

section.title > .titleBox > .tagBox > ul > li {
  height: 34px;
  border-radius: 50px;
  border: 1px solid var(--borderColor);
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

/* .tagBox > ul > li:not(:first-child) {
  margin-left: 10px;
}
.tagBox > ul > li:last-child {
  margin-right: 10px;
} */

/********** category list **********/
section.category {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*** 배경 ***/
.categoryBg {
  position: absolute;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  transform: translate(0, -50%);
}

.categoryBox {
  position: relative;
  max-width: 1440px;
  min-height: 360px;
  padding-right: 106px;
  padding-left: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categoryBox > .listBox {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.categoryBox > .listBox > .listTrack {
  display: flex;
  justify-content: flex-start;
  gap: var(--dt-gap);
  flex-wrap: nowrap;
  will-change: transform;
  transition: transform 0.4s ease;
}
.categoryBox > .arrowPrev {
  position: absolute;
  left: 0;
  top: 42%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* 이미지 */
.listBox > .listTrack > li > a > div.imgBox {
  width: 210px;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-bottom: 6px;
}
div.imgBox > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/********** category list BTN Next / Prev **********/
.buttonBox {
  top: 35%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
}

/********** category list BTN 자세히보기 **********/

/* detail outerBox */
.detailBtnOuterBox {
  position: absolute;
  right: -3%;
  top: 46%;
  transform: translate(-50%, -50%);
}

.detailBtnOuterBox .detailBoxBtn {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.detailBtnOuterBox .detailBoxBtn .detailIcon div {
  width: 44px;
  height: 44px;
}

/* detail innerText */
.detailBtnOuterBox .detailBoxBtn > span {
  display: block;
  color: var(--font);
}

/* ********* CommonHeader ************** */
.commonHeader {
  width: 100%;
  height: 294px;
  border-bottom: 4px solid var(--borderColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.commonHeader > .selectBox {
  width: 100%;
  height: 90px;
  position: relative;
  gap: 11px;
}

.commonHeader > .selectBox > h1 > .commonHeaderLogoImg {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -100%);
}

/* commonHeader > LocationSelect */

.selectWrapper {
  width: 303px;
  height: 34px;
  flex-shrink: 0;
  display: flex;
  gap: 16px;
  font-size: 14px;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  /* 드롭다운 아이콘을 위해 position relative 필요 */
}

.selectWrapper .exhibitionLocationSelect {
  /* 넓이 리터럴값 */
  width: 220px;
  padding: 0px 8px;
}

.selectWrapper > .selectIconWrapper {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  pointer-events: none;
}

/* commonHeader > smallSearchInput */
.smallSearchWrapper {
  display: flex;
  width: 359px;
  height: 34px;
  justify-content: space-between;
  align-items: center;
  gap: 11px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: transparent;
}

.smallSearchWrapper .commonTitleText {
  font-size: 14px;
  font-weight: 600;
  width: 83px;
  text-align: center;
}

.smallSearchWrapper .smallSearchInput {
  flex: 1; /* needs 남은 공간 차지 */
  height: 100%; /* should 컨테이너 높이에 맞추기 */
  border: 1px solid var(--selector-border); /* needs 테두리 색상 */
  border-radius: 4px;
  outline: none; /* needs 포커스 시 outline 제거 */
  font-size: 14px;
  background-color: transparent;
  padding: 0 8px;
}

.smallSearchWrapper .smallSearchButton {
  width: 34px;
  height: 34px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.smallSearchWrapper .smallSearchButton .commonSearchIconSvg {
  pointer-events: none;
}

/* commonHeader > PeriodInput */
.periodInputWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 483px; /* should width 483px */
  height: 34px; /* should height 34px */
  background-color: transparent;
  box-sizing: border-box;
}
.periodInputWrapper > span.commonTitleText {
  width: 83px;
}
.periodInputWrapper > .datePickerBox {
  position: relative;
  width: 180px;
}
.periodInputWrapper > .datePickerBox > .calendarIcon {
  width: 18px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%); /* needs 세로 중앙 정렬 */
  pointer-events: none; /* needs 클릭 이벤트 무시 */
}

.datepickerInputWrapper {
  height: 100%;
}
.datepickerInputWrapper .periodInput {
  width: 179px;
  height: 34px; /* 컨테이너는 속성으로 조정할 수 없음 */
  border: 1px solid var(--selector-border);
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  flex-shrink: 0;
  background-color: transparent;
  padding: 0 8px; /* needs 좌우 padding 8px */
}

/* ListPage ->  .listContainer */
main.contentsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 스크롤 기능을 허용하기 위해 수직 overflow와 높이 지정 */
  overflow-y: auto;
  height: calc(100vh - 294px);
  position: relative;
}
.contentsWrapper .sortSelectArea {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 60px;
}
.listContainer {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px; /* 수정: flex-wrap 시 생기는 행 간 간격 조정 */

  /* 패딩 마진 */
  padding: 0 200px; /* needs 좌우 패딩 200px */
  margin-bottom: 15px;
}

/* imgCard */

.imgCard {
  width: 232px;
  height: 380px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: flex-start;
  flex-shrink: 0;
}

.imgCard .imgCardImage {
  width: 100%;
  height: 293px;
  background-color: transparent;
}

.imgCard .imgCardPlaceholder {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);

  padding: 0 10px;
}

.imgCard .imgCardContent {
  height: 86px;
  position: relative;
  padding: 12px 11px 10px 11px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--borderColor);
  margin-top: 2px;
}
.imgCard .imgCardContent .imgCardTitle {
  margin: 0;
  height: 20px;
  margin-bottom: 12px; /* gap 12px */
  overflow: hidden;
}
.imgCard .imgCardContent .imgCardAddress {
  height: 15px;
  width: 80%;
  overflow: hidden;
}
.imgCard .imgCardContent .imgCardPeriod {
  margin: 0;
  height: 15px;
}
.imgCard .imgCardDetailButton {
  position: absolute;
  bottom: 3px; /* needs 하단 10px */
  right: 10px; /* needs 우측 10px */
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

/* DetailPage > DetailCard */
.detailCard {
  width: 1200px;
  height: 500px;
  border: 1px solid var(--borderColor);
  box-sizing: border-box;
  margin-top: 100px;
  position: relative;
}

.detailCard .detailCardContent {
  display: flex;
  gap: 74px;
  color: var(--font);
}

.detailCard .detailCardContent img {
  width: 274px;
  height: 346px;
  object-fit: cover;
  flex-shrink: 0;
  margin: auto 0 auto auto;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.093), 0 4px 4px rgba(0, 0, 0, 0.097);
}

.detailCard .detailCardContent .detailCardText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  max-height: 346px;
  gap: 31px;
}

.detailCard .detailCardContent .detailCardText h2,
span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.detailCard .detailCardContent .detailCardText h2 {
  font-size: 24px;
  line-height: 1.2;
  max-width: 585px;
}

.detailCard .detailCardContent .detailCardText ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.detailCard .detailCardContent .detailCardText ul li {
  display: flex;
  align-items: center;
  height: 20px;
}

.detailCard .detailCardContent .detailCardText span {
  white-space: nowrap;
}

.detailCard .detailCardContent .detailCardText ul li span:first-child {
  width: 110px;
  height: 20px;
  line-height: 20px;
  border-right: 1px solid var(--borderColor);
  padding-right: 8px;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 700;
}

.detailCard .detailCardContent .detailCardText ul li span:last-child {
  max-width: 415px;
  margin-left: 12px;
  flex-shrink: 0;
  font-size: 14px;
}

/* mapBtn */
.mapBtn {
  /* 속성 */
  display: flex;
  flex-direction: column;
  /* 크기 */
  width: 68px;
  height: 48px;
  /* 폰트 */
  color: var(--font);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
  /* 위치 */
  transform: translate(-50%, 100%);
  position: absolute;
  bottom: -45px;
  left: 50%;
  /* 배경 */
  background-color: transparent;
}

/* ---------------calendarPage ---------- */
/* calendarPageLogo*/
.calendarLogo {
  position: absolute;
  left: 30px;
  top: -156px;
}
.calendarLogo > h1 {
  display: block;
}
.currentYear {
  color: var(--calendarLogoFont);
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.calendarLogo > .currentYear {
  display: block;
  position: absolute;
  left: 0;
  top: 50px;
}
/* calendarPage fixed Month grid */
.monthGrid {
  width: 100%;
  height: 100%;
  display: flex;
}
.monthGrid > .monthCell {
  width: calc(100% / 13);
  height: 100%;
  border: 1px solid var(--borderColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.monthGrid > .monthCell > span:first-child {
  color: var(--font);
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-weight: 700;

  /* 크기 */
  width: 84px;
  height: 16px;
  flex-shrink: 0;
}

.monthGrid > .monthCell > span:last-child {
  color: var(--font);
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;

  /* 크기 */
  width: 56px;
  height: 42px;
  flex-shrink: 0;
}
/* calendarWrapper */
.calendarWrapper {
  width: 100%;
  height: 700px;
  /* 그리드 */
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(2, 1fr);

  /* 폰트 */
  color: var(--calendarLogoFont);
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
}
.calendarCell {
  /* 여백 */
  padding: 14px;
  border-right: 1px solid;
  border-bottom: 1px solid;

  /* 숨김 */
  overflow: hidden;

  /* 포지션 */
  position: relative;
  z-index: 0;

  /* flex */
  display: flex;
  flex-direction: column;
  align-items: start;
}

/* TODO : transition이 적용되지 않음. react환경이 문제일 수 있음. 이를 함수로 만들거나 애니메이션 함수를 만들어도 좋을 듯 급하진 않음 */
.innerCell:hover {
  z-index: 1;
  width: 500px;
  height: 500px;
  overflow-y: auto;
  background-color: rgba(var(--selected-rgb), var(--selected-opacity));
}

.calendarCell > .exhibitionTag {
  display: flex;
  padding: 4px 12px;
  background-color: var(--thema);
  color: var(--font);
  font-size: 14px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
  flex-shrink: 0;
}
