@charset "uft-8";

:root {
  /* 이미지 카드 가로 길이 */
  --card-width: 210px;

  /* 반응형 이미지카드 사이 간격 */
  --dt-gap: 12px;
  --tb-gap: 48px;
  --mb-gap: 52px;

  /* categoryBg 컬러 */
  --categoryBg-Desktop: rgba(217, 217, 217, 0.3);

  /* commonHeader Selector, Input BorderLine 컬러 */
  --selector-border: #444;
  --selector-border-wh: #fff;
}

/********************* 반응형 *********************/
/* 데스크탑 */
@media (min-width: 1024px) {
  .logoBox {
    margin-top: 130px;
  }
  section.title > .titleBox {
    margin-bottom: 100px;
  }
  section.title > .titleBox > .tagBox > ul {
    height: 35px;
    column-gap: 10px;
  }
  .searchBox {
    margin-bottom: 35px;
  }
  .categoryBox > .listBox > ul {
    flex-wrap: wrap;
    column-gap: var(--dt-gap);
  }
  .categoryBg {
    width: 547px;
    height: 549px;
    background-color: var(--categoryBg-Desktop);
    border-radius: 274.5px 0 0 274.5px;
    top: 40%;
    right: -16%;
  }

  .detailBtnOuterBox {
    width: 74px;
    height: 83px;
    flex-shrink: 0;
  }
}
/* 테블릿 */
@media all and (min-width: 769px) and (max-width: 1023px) {
  .listBox {
    min-width: calc(var(--card-width) * 3 + var(--tb-gap) * 2);
    min-height: 400px;
    overflow: hidden;
  }
  .logoBox {
    margin-top: 130px;
  }
  section.title > .titleBox > .tagBox > ul {
    height: 100px;
    column-gap: 10px;
  }
  .categoryBox > .listBox > ul {
    flex-wrap: nowrap;
    column-gap: var(--tb-gap);
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* 모바일 393x776 */
@media (max-width: 768px) {
  .listBox {
    width: calc(var(--card-width) * 1 + var(--mb-gap) * 2);
    height: 470px;
    overflow: hidden;
  }
  .logoBox {
    margin-top: 22px;
  }
  .searchBox {
    margin-bottom: 30px;
  }

  section.title > .titleBox {
    margin-bottom: 48px;
  }

  section.title > .titleBox > .tagBox > ul {
    height: 80px;
    margin-bottom: 50px;
    column-gap: 4px;
  }
  .categoryBox > .listBox > ul {
    flex-wrap: nowrap;
    column-gap: var(--mb-gap);
  }
}

/********** title **********/
section.title > .titleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

/* 로고 */
section.title > .titleBox > .logoBox {
  width: 260px;
  height: 90px;
  /* margin-top: 130px; */
}
/* 검색창 */
section.title > .titleBox > .searchBox {
  width: 100%;
  display: flex;
  justify-content: center;
}
section.title > .titleBox > .searchBox > .searchGroup {
  max-width: 740px;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--seachBox);
  border: 1px solid var(--borderColor);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.093), 0 4px 4px rgba(0, 0, 0, 0.097);
}

/********** search **********/
.searchBox > .searchGroup > .searchGroupInner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* 검색 인풋 */
.searchBox > .searchGroup > .searchGroupInner > input.searchInput {
  width: 95%;
  height: 40px;
  background-color: var(--seachBox);
  font-size: 16px;
  color: var(--font);
}
/* 검색 버튼 */
.searchBox > .searchGroup > .searchGroupInner > button {
  background-color: var(--seachBox);
  border: none;
  cursor: pointer;
}

/********** category Tag **********/
section.title > .titleBox > .tagBox {
  width: 100%;
  display: flex;
  justify-content: center;
}
section.title > .titleBox > .tagBox > ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

section.title > .titleBox > .tagBox > ul > li {
  height: 34px;
  border-radius: 50px;
  border: 1px solid var(--borderColor);
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

/* .tagBox > ul > li:not(:first-child) {
  margin-left: 10px;
}
.tagBox > ul > li:last-child {
  margin-right: 10px;
} */

/********** category list **********/
section.category {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*** 배경 ***/
.categoryBg {
  position: absolute;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  transform: translate(0, -50%);
}

.categoryBox {
  position: relative;
  max-width: 1440px;
  min-height: 360px;
  padding-right: 106px;
  padding-left: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categoryBox > .listBox {
  position: relative;
}
.categoryBox > .listBox > ul {
  display: flex;
  justify-content: center;
  gap: 22px;
  flex-flow: wrap;
}
.categoryBox > .arrowPrev {
  position: absolute;
  left: 0;
  top: 42%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* 이미지 */
.listBox > ul > li > a > div.imgBox {
  width: 210px;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-bottom: 6px;
}
div.imgBox > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/********** category list BTN Next / Prev **********/
.buttonBox {
  top: 35%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
}

/********** category list BTN 자세히보기 **********/

/* detail outerBox */
.detailBtnOuterBox {
  position: absolute;
  right: -3%;
  top: 46%;
  transform: translate(-50%, -50%);
}

.detailBtnOuterBox .detailBoxBtn {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.detailBtnOuterBox .detailBoxBtn .detailIcon div {
  width: 44px;
  height: 44px;
}

/* detail innerText */
.detailBtnOuterBox .detailBoxBtn > span {
  display: block;
  color: var(--font);
}

/* ********* CommonHeader ************** */
.commonHeader {
  width: 100%;
  height: 294px;
  border-bottom: 4px solid var(--borderColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.commonHeader > .selectBox {
  width: 100%;
  height: 90px;
  position: relative;
  gap: 11px;
}

.commonHeader > .selectBox > .commonHeaderLogoImg {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -100%);
}

/* commonHeader > LocationSelect */

.selectWrapper {
  width: 303px;
  height: 34px;
  flex-shrink: 0;
  display: flex;
  gap: 16px;
  font-size: 14px;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  /* 드롭다운 아이콘을 위해 position relative 필요 */
}

.selectWrapper .exhibitionLocationSelect {
  /* 넓이 리터럴값 */
  width: 220px;
  padding: 0px 8px;
}

.selectWrapper > .selectIconWrapper {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  pointer-events: none;
}

/* commonHeader > smallSearchInput */
.smallSearchWrapper {
  display: flex;
  width: 359px;
  height: 34px;
  justify-content: space-between;
  align-items: center;
  gap: 11px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: transparent;
}

.smallSearchWrapper .commonTitleText {
  font-size: 14px;
  font-weight: 600;
  width: 83px;
  text-align: center;
}

.smallSearchWrapper .smallSearchInput {
  flex: 1; /* needs 남은 공간 차지 */
  height: 100%; /* should 컨테이너 높이에 맞추기 */
  border: 1px solid var(--selector-border); /* needs 테두리 색상 */
  border-radius: 4px;
  outline: none; /* needs 포커스 시 outline 제거 */
  font-size: 14px;
  background-color: transparent;
}

.smallSearchWrapper .smallSearchButton {
  width: 34px;
  height: 34px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.smallSearchWrapper .smallSearchButton .commonSearchIconSvg {
  pointer-events: none;
}

/* commonHeader > PeriodInput */
.periodInputWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 483px; /* should width 483px */
  height: 34px; /* should height 34px */
  background-color: transparent;
  box-sizing: border-box;
}
.periodInputWrapper > span.commonTitleText {
  width: 83px;
}
.periodInputWrapper > .datePickerBox {
  position: relative;
  width: 180px;
}
.periodInputWrapper > .datePickerBox > .calendarIcon {
  width: 18px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%); /* needs 세로 중앙 정렬 */
  pointer-events: none; /* needs 클릭 이벤트 무시 */
}

.datepickerInputWrapper {
  height: 100%;
}
.datepickerInputWrapper .periodInput {
  width: 179px;
  height: 34px; /* 컨테이너는 속성으로 조정할 수 없음 */
  border: 1px solid var(--selector-border);
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  flex-shrink: 0;
  background-color: transparent;
  padding: 0 8px; /* needs 좌우 padding 8px */
}

/* ListPage ->  .listContainer */
main.listContentsWrapper {
  width: 100%;
  height: calc(100% - 294px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.listContainer {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px; /* 수정: flex-wrap 시 생기는 행 간 간격 조정 */
}

/* imgCard */

.imgCard {
  width: 232px;
  height: 380px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: flex-start;
}

.imgCard .imgCardImage {
  width: 100%;
  height: 293px;
  background-color: transparent;
}

.imgCard .imgCardPlaceholder {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);

  padding: 0 10px;
}

.imgCard .imgCardContent {
  height: 86px;
  position: relative;
  padding: 12px 11px 10px 11px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--borderColor);
}
.imgCard .imgCardContent .imgCardTitle {
  margin: 0;
  height: 20px;
  margin-bottom: 12px; /* gap 12px */
}
.imgCard .imgCardContent .imgCardAddress {
  height: 15px;
}
.imgCard .imgCardContent .imgCardPeriod {
  margin: 0;
  height: 15px;
}
.imgCard .imgCardDetailButton {
  position: absolute;
  bottom: 3px; /* needs 하단 10px */
  right: 10px; /* needs 우측 10px */
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
