@charset "uft-8";

/********************* 컬러 *********************/
/* :root[color-theme='light']{
    --background: #444444;
    --font: #444444;
    --boxColor: #444444;
    --borderColor: #444444;
    --seachBox:#F1E6DD;
}
:root[color-theme='dark']{
    --background: #FFFFFF;
    --font: #FFFFFF;
    --boxColor: #FFFFFF;
    --borderColor: #FFFFFF;
    --seachBox:#2F2F2F;
} */
:root {
  --background: #444444;
  --font: #444444;
  --boxColor: #444444;
  --borderColor: #444444;
  --seachBox: #f1e6dd;
}

/********************* 반응형 *********************/
/* 데스크탑 */
@media (min-width: 1024px) {
  body {
    background-color: #f1e6dd;
  }
}
/* 테블릿 */
@media all and (min-width: 769px) and (max-width: 1023px) {
  body {
    background-color: aquamarine;
  }
}
/* 모바일 393x776 */
@media (max-width: 768px) {
  body {
    background-color: pink;
  }
}

.headerBox {
  max-width: 1440px;
  margin: 0 auto;
}

/* 네비 */
nav {
  height: 50px;
  display: flex;
  justify-content: end;
}
nav > ul.navBox {
  display: flex;
  align-items: end;
}
nav > ul.navBox > li {
  margin-left: 14px;
}
nav > ul.navBox > li > a {
  font-size: 12px;
  display: flex;
  align-items: center;
  color: var(--font);
}
nav > ul.navBox > li > a > svg {
  margin-left: 6px;
}
.mainBox {
  margin: 0 auto;
}

/* 폰트 */
.itemTitleFont {
  color: var(--font);
  font-size: 16px;
  font-weight: normal;
}
.itemPlaceFont {
  color: var(--font);
  font-size: 12px;
  font-weight: bold;
}
.itemDateFont {
  color: var(--font);
  font-size: 12px;
  font-weight: bold;
}
